# Puerto de la aplicación
PORT=3000

# Entorno
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/ucab-tasks

# Ejemplo con MongoDB Atlas:
# MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/ucab-tasks?retryWrites=true&w=majority
